.dot-nav {
  list-style-type: none;
  margin: 0;
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
  width: 20px;
  z-index: 1;

  @media screen and (min-width: 1140px) {
    visibility: visible;
  }

  li {
    height: 20px;
    position: relative;
    transition: height 250ms;
    width: 20px;

    &:hover {
      height: 28px;

      &.link-item {
        .dot-nav-tooltip {
          visibility: visible;
        }
      }
    }

    .current-page,
    .link-dot {
      display: block;
      height: 20px;
      padding: 2px 0;
      transition: height 250ms, padding 250ms;
      width: 20px;

      &:hover {
        height: 28ms;
        padding: 4px 0;

        .dot-circle {
          height: 20px;
          margin: 0;
          width: 20px;
        }
      }

      .dot-circle {
        background-clip: content-box;
        border-color: $white;
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        height: 16px;
        margin: 0 2px;
        padding: 2px;
        transition: background-color 250ms, border-color 250ms, height 250ms, margin 250ms, width 250ms;
        width: 16px;
      }
    }

    .current-page {
      .dot-circle {
        background-color: $white;
      }
    }

    .link-dot {
      &:hover {
        .dot-circle {
          background-color: $cigi-red;
          border-color: $cigi-red;
        }
      }
    }

    .dot-nav-tooltip {
      max-width: 550px;
      position: absolute;
      right: 175%;
      text-align: right;
      top: 50%;
      transform: translateY(-50%);
      visibility: hidden;
      width: 50vw;

      span {
        background: $tooltip-background;
        border-radius: 3px;
        color: $white;
        font-family: $font-primary, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        padding: 3px 6px;

        &::after {
          border: solid transparent;
          border-color: transparent;
          border-left-color: $tooltip-background;
          border-width: 8px;
          content: '';
          height: 0;
          left: 100%;
          margin-top: -8px;
          pointer-events: none;
          position: absolute;
          top: 50%;
          width: 0;
        }
      }
    }
  }
}
