<li class={{if this.menuItem.current "current-item" "link-item"}}>
  <div class="dot-nav-tooltip">
    <span>
      {{this.menuItem.title}}
    </span>
  </div>
  {{#if this.menuItem.current}}
    <div class="current-page">
      <div class="dot-circle"></div>
    </div>
  {{else}}
    {{#link-to this.menuItem.route class="link-dot"}}
      <div class="dot-circle"></div>
    {{/link-to}}
  {{/if}}
</li>
