<div class="background-row background-404 show-for-medium"></div>
<div class="content-slide">
  <div class="grid-container">
    <div class="grid-x grid-margin-x hover-reveal-hide">
      <div class="cell">
        <div class="slide-title">
          <h1>
            {{t "pageNotFound.title"}}
          </h1>
        </div>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell medium-6 hover-reveal-hide">
        <div class="content-links">
          <p>{{t "pageNotFound.paragraph1"}}</p>
          <p>{{t "pageNotFound.paragraph2"}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
